<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success" ng-click='showAddPlayer()'>
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon glyphicon-cog"></i>
                    </button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon glyphicon-cog"></i>
                    </button>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div data-ng-show="addPlayerVisible" class="form-group">
            <form data-ng-submit="addNewPlayer()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="col-sm-4">
                        <input type="text" id="playerName" name="playerName" class="form-control" data-ng-model="newPlayer.name" placeholder="name">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="playerRank" name="playerRank" class="form-control" data-ng-model="newPlayer.rank" placeholder="rank">
                    </div>

                </fieldset>
                 <input type="submit" id="submit" value="Submit" />
            </form>

        </div>
    </div>

    <div class="col">
        <h3>total</h3>
    </div>
    <div class="col">

        <div class="row" ng-repeat="player in players">
            <div class="col-xs-2 col-sm-offset-4 ">
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>

            </div>
            <div class="col-xs-6">
                <div class="row-xs-8">
                    Name: {{player.name}}
                </div>
                <div class="row-xs-8">
                    Rank: {{player.rank}}
                </div>
            </div>
        </div>
    </div>
</section>