<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>

            </div>

        </div>
        <div class="col-sm-6">
            <h3>total</span>
        </div>
    </div>
    <div class="col">
        <div class="row" ng-repeat="player in players">
            <div class="col-xs-2 col-sm-offset-5 ">
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>

            </div>
            <div class="col-xs-6">
                <div class="row-xs-8">
                    Name: {{player.name}}
                </div>
                <div class="row-xs-8">
                    Rank: {{player.rank}}
                </div>
            </div>
        </div>
    </div>
</section>