<section data-ng-controller="PlayersController as playersCtrl">
    <div class="page-header">
        <h1>Players</h1>
    </div>
    <div class="input-group input-group-lg">
        <row>test123
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search for...">
        </row>
        <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <!-- /input-group -->
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <button type="button" class="btn btn-success text-center">
                <i class="glyphicon glyphicon-plus"><br>Add</i>
            </button>
        </div>
    </div>
    </br>
    </br>
    <div class="list-group">
        <div data-ng-repeat="player in players | filter:searchText" ng-class="{'list-group-item-success': player.rank>5, 'list-group-item-warning': player.rank<=5, 'list-group-item-danger': player.rank<=3}">
            <a ng-click="playersCtrl.openEditModalView('lg',player)" class="list-group-item">
                <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="player.created | date:'medium'"></span>
				by
				<span data-ng-bind="player.user.displayName"></span>
			</small>
                <h4 class="list-group-item-heading" data-ng-bind="player.name"></h4>
                <h4 class="list-group-item-text" data-ng-bind="player.rank"></h4>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!players.$resolved || players.length">
        No Players yet, why don't you <a href="/#!/players/create">create one</a>?
    </div>
</section>