<!--<div class="list-group">-->


<div class="col-xs-3 col-md-2" ng-repeat="player in playersCtrl.players">
    <div class="thumbnail">
        <div class="caption">
            <div ng-click="playersCtrl.openEditModalView('sm',player);">
                <button type="button" class="btn btn-default btn-lg">
                    <i class="glyphicon glyphicon-user" aria-hidden="true"></i> {{player.name}}
                    <div class="badge">{{player.rank}}</div>
                </button>
            </div>
            <h3>Some title</h3>
            <p>Some text</p>
            <button type="button" class="btn btn-danger btn-sm" ng-click="playersCtrl.deletePlayer(player);">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </button>
        </div>
    </div>
</div>
<!--</div>-->